* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.banner {
  position: relative;
  height: 100vh;
}

.banner-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.banner-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
}

.banner-logo img {
  width: 45px;
  height: 45px;
}

.menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 0;
  font-family: inherit;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-position 0.3s;
  background-position: 0 0;
  background-size: 300% 300%;
  background-image: linear-gradient(
    135deg,
    transparent 20px,
    #452f90 20px,
    #452f90 50%,
    #9b287b 100%
  );
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: none;
  font-size: 14px;
  padding: 0 20px;
  color: #ffffff;
}

.menu-button:hover {
  transition: background-position 0.3s;
  background-position: 100% 100%;
}

.menu-button span {
  transform: translateX(0);
  transition: transform 0.3s;
}

.menu-button img {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  height: 20px;
  transition: opacity, transform 0.3s;
}

.menu-button:hover span {
  transform: translateX(10px);
  transition: transform 0.3s;
}

.menu-button:hover img {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: opacity, transform 0.3s;
}

.scroll-hint {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #ed1865;
  padding: 10px 20px;
  text-transform: uppercase;
}

.scroll-hint h2 {
  letter-spacing: 1px;
  font-style: italic;
}

.scroll-hint span {
  font-weight: bold;
}

.first-text {
  animation: rotateUp 2s infinite;
}

.second-text {
  opacity: 0;
  animation: rotateUp 1.5s infinite;
}

@keyframes rotateUp {
  from {
    opacity: 0;
    transform: translateY(100%) translateZ(0) perspective(200px) rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0%) translateZ(0) perspective(200px) rotateX(0);
  }
}
